
{% extends 'base.html' %}

{% block body %}

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Melon Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>   
        {% for id in melon_items %}
        <tr>  
             
            <td>
            {{melon_items[id]["melon"]}}
            </td>

            <td>
            {{melon_items[id]["qty"]}}
            </td>

            <td>
            {{melon_items[id]["price"]}}
            </td>

            <td>
            {{melon_items[id]["mel_total"]}}
            </td>
        
        </tr>  
        {% endfor %}     
        </tbody>
    </table>

    <h3>{{total_cost}}</h3>

    <a href="/checkout" class="btn btn-large btn-primary">Check Out</a>

{% endblock %}
